vtr-verilog-to-routing-8.0.0/*
src/benchmarks/*
vtr_work/*
combined/*
combined_test/*
datasets/*
datasets_test/*
*.rpt
*.net
*.place
*.route
*.png
*.tar.gz
*.csv
*.pt
vpr*.log
settings.json
.gitignore
gnn.code-workspace
.vscode/.ropeproject/config.py
benchmarks/arch/MCNC/EArch.xml
benchmarks/arch/MCNC/hard_fpu_arch_timing.xml
benchmarks/arch/MCNC/k4_N4_90nm_default_fc_pinloc.xml
benchmarks/arch/MCNC/k4_N4_90nm.xml
benchmarks/arch/MCNC/k4_N8_legacy_45nm.xml
benchmarks/arch/MCNC/k6_frac_N10_4add_2chains_depop50_mem20K_22nm.xml
benchmarks/arch/MCNC/k6_frac_N10_4add_2chains_tie_off_depop50_mem20K_22nm.xml
benchmarks/arch/MCNC/k6_frac_N10_40nm.xml
benchmarks/arch/MCNC/k6_frac_N10_frac_chain_depop50_mem32K_40nm.xml
benchmarks/arch/MCNC/k6_frac_N10_frac_chain_mem32K_40nm.xml
benchmarks/arch/MCNC/k6_frac_N10_frac_chain_mem32K_htree0_40nm.xml
benchmarks/arch/MCNC/k6_frac_N10_frac_chain_mem32K_htree0_routedCLK_40nm.xml
benchmarks/arch/MCNC/k6_frac_N10_frac_chain_mem32K_htree0short_40nm.xml
benchmarks/arch/MCNC/k6_frac_N10_mem32K_40nm.xml
benchmarks/arch/MCNC/k6_N8_gate_boost_0.2V_22nm.xml
benchmarks/arch/MCNC/k6_N8_lookahead_chain_gate_boost_0.2V_22nm.xml
benchmarks/arch/MCNC/k6_N8_lookahead_unbalanced_chain_gate_boost_0.2V_22nm.xml
benchmarks/arch/MCNC/k6_N8_ripple_chain_gate_boost_0.2V_22nm.xml
benchmarks/arch/MCNC/k6_N8_unbalanced_ripple_chain_gate_boost_0.2V_22nm.xml
benchmarks/arch/MCNC/k6_N10_40nm.xml
benchmarks/arch/MCNC/k6_N10_gate_boost_0.2V_22nm.xml
benchmarks/arch/MCNC/k6_N10_legacy_45nm.xml
benchmarks/arch/MCNC/k6_N10_mem32K_40nm_fc_abs.xml
benchmarks/arch/MCNC/k6_N10_mem32K_40nm.xml
benchmarks/arch/MCNC/k6_N10_ripple_chain_gate_boost_0.2V_22nm.xml
benchmarks/arch/MCNC/k6_N10_unbalanced_ripple_chain_gate_boost_0.2V_22nm.xml
benchmarks/arch/MCNC/soft_fpu_arch_timing.xml
benchmarks/arch/TITAN/stratixiv_arch.timing.complex_sb.12to1.xml
benchmarks/arch/TITAN/stratixiv_arch.timing.complex_sb.L4_16to1.L16_72to1.L4_turn-straight_rand_L4_L16.xml
benchmarks/arch/TITAN/stratixiv_arch.timing.complex_sb.L16_40to1.L4_turn-straight_rand_L4_L16.xml
benchmarks/arch/TITAN/stratixiv_arch.timing.complex_sb.L16_72to1.L4_turn-straight_rand_L4_L16.xml
benchmarks/arch/TITAN/stratixiv_arch.timing.legacy.xml
benchmarks/arch/TITAN/stratixiv_arch.timing.xml
benchmarks/blif/MCNC/alu4.blif
benchmarks/blif/MCNC/apex2.blif
benchmarks/blif/MCNC/apex4.blif
benchmarks/blif/MCNC/bigkey.blif
benchmarks/blif/MCNC/clma.blif
benchmarks/blif/MCNC/des.blif
benchmarks/blif/MCNC/diffeq.blif
benchmarks/blif/MCNC/dsip.blif
benchmarks/blif/MCNC/elliptic.blif
benchmarks/blif/MCNC/ex5p.blif
benchmarks/blif/MCNC/ex1010.blif
benchmarks/blif/MCNC/frisc.blif
benchmarks/blif/MCNC/misex3.blif
benchmarks/blif/MCNC/pdc.blif
benchmarks/blif/MCNC/s298.blif
benchmarks/blif/MCNC/s38417.blif
benchmarks/blif/MCNC/s38584.1.blif
benchmarks/blif/MCNC/seq.blif
benchmarks/blif/MCNC/spla.blif
benchmarks/blif/MCNC/tseng.blif
benchmarks/blif/TITAN/bitcoin_miner_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/bitonic_mesh_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/cholesky_bdti_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/cholesky_mc_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/dart_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/denoise_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/des90_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/directrf_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/gaussianblur_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/gsm_switch_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/LU_Network_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/LU230_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/mes_noc_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/minres_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/neuron_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/openCV_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/segmentation_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/SLAM_spheric_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/sparcT1_chip2_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/sparcT1_core_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/sparcT2_core_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/stap_qrd_stratixiv_arch_timing.blif
benchmarks/blif/TITAN/stereo_vision_stratixiv_arch_timing.blif
benchmarks/blif/TITANJR/carpat_stratixiv_arch_timing.blif
benchmarks/blif/TITANJR/CH_DFSIN_stratixiv_arch_timing.blif
benchmarks/blif/TITANJR/CHERI_stratixiv_arch_timing.blif
benchmarks/blif/TITANJR/EKF-SLAM_Jacobians_stratixiv_arch_timing.blif
benchmarks/blif/TITANJR/fir_cascade_stratixiv_arch_timing.blif
benchmarks/blif/TITANJR/jacobi_stratixiv_arch_timing.blif
benchmarks/blif/TITANJR/JPEG_stratixiv_arch_timing.blif
benchmarks/blif/TITANJR/leon2_stratixiv_arch_timing.blif
benchmarks/blif/TITANJR/leon3mp_stratixiv_arch_timing.blif
benchmarks/blif/TITANJR/MCML_stratixiv_arch_timing.blif
benchmarks/blif/TITANJR/MMM_stratixiv_arch_timing.blif
benchmarks/blif/TITANJR/radar20_stratixiv_arch_timing.blif
benchmarks/blif/TITANJR/random_stratixiv_arch_timing.blif
benchmarks/blif/TITANJR/Reed_Solomon_stratixiv_arch_timing.blif
benchmarks/blif/TITANJR/smithwaterman_stratixiv_arch_timing.blif
benchmarks/blif/TITANJR/stap_steering_stratixiv_arch_timing.blif
benchmarks/blif/TITANJR/sudoku_check_stratixiv_arch_timing.blif
benchmarks/blif/TITANJR/SURF_desc_stratixiv_arch_timing.blif
benchmarks/blif/TITANJR/ucsb_152_tap_fir_stratixiv_arch_timing.blif
benchmarks/blif/TITANJR/uoft_raytracer_stratixiv_arch_timing.blif
benchmarks/blif/TITANJR/wb_conmax_stratixiv_arch_timing.blif
GNNVPR/__pycache__/parse_xml_rr_graph_to_csv.cpython-38.pyc
GNNVPR/__pycache__/parse_xml_rr_graph_to_csv.cpython-39.pyc
GNNVPR/__pycache__/PyTorchGeometricTrain.cpython-38.pyc
GNNVPR/__pycache__/PyTorchGeometricTrain.cpython-39.pyc
GNNVPR/training/__pycache__/parse.cpython-38.pyc
GNNVPR/training/__pycache__/PyTorchGeometricTrain.cpython-38.pyc
